extends layout
block content
	.container
		h1 Register
		p Please Register using the form below
		form(method="post",action="/users/register",enctype="mutlipart/form-data")
			.form-group
				label Name
				input.form-control(name="name",type="text",placeholder="Enter Name")
		
			.form-group
				label Email
				input.form-control(name="email",type="email",placeholder="Enter Email")
	
			.form-group
				label User Name
				input.form-control(name="username",type="text",placeholder="Enter User Name")

			.form-group
				label Password
				input.form-control(name="password",type="password",placeholder="Enter Password")

			.form-group
				label Confirm Password
				input.form-control(name="cpassword",type="password",placeholder="Enter Confirm Password ")
			.form-group
				label Profile Image
				input.form-control(name="profileImage",type="file")
			input.btn.btn-default(name="submit", value="Register",type="Submit")
