extends layout
block content
	.container
		h1 About Us
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil porro, vero rem libero unde odio possimus mollitia temporibus, totam consequatur nulla 		   quae necessitatibus. Eaque, quia, beatae. Suscipit, vitae cupiditate?
		ul
			li Vivamus nec scelerisque
			li Cras efficitur
			li Nam lecuts elit
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil porro, vero rem libero unde odio possimus mollitia temporibus, totam consequatur nulla 		   quae necessitatibus. Eaque, quia, beatae. Suscipit, vitae cupiditate?
